* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font: 13px Helvetica, Arial; 
    width: 1000px;
}

h2 {text-transform: uppercase; font-size: 12px; margin-bottom: 5px;}

#chatbox { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }

#chatbox input { border: 0; padding: 10px; width: 190px;}

#chatbox button { width: 50px; background: rgb(130, 224, 255); border: none; padding: 10px; }

#messages-container {
	overflow: scroll;
}

#messages { list-style-type: none; margin: 0; padding: 0; }

#messages li { padding: 5px 10px; border-bottom: 1px solid black; }

.connection-msg {font-size:10px; color: white; background: green; border-bottom: none !important;}

.hand-msg {font-size:10px; border-bottom: none !important;}

.disconnection-msg {font-size:10px; color: white; background: red; border-bottom: none !important;}

#start-page, #game-settings {
	background: #000;
	width: 100%; 
	height: 100%;  
	color: white; 
	position: absolute;
}

#start-page button, #game-settings button {
	margin: 10px;
	padding: 5px 10px;
	background: white;
}

#start-page {
	z-index: 50;
}

#game-settings {
	z-index: 49;
}

#chat-page {width: 100%; height: 100%; position: absolute;}

#chat {width: 250px; position: absolute; right: 0px; border-left: 2px solid black; border-right: 2px solid black; height: 100%;}

#current-users {
	background: #eee;
	padding: 10px;
}

#restart-game {
	display: none;
}

#all-users div {
	padding: 5px;
	text-align: center;
}

#all-users p {
	font-weight: 800;
}

#all-users li {padding: 5px;list-style-type: none;}

#login, #registration, #team, #game-settings-player {
	width: 300px; 
	margin: 200px auto; 
	text-align: center;
}

#registration {
	display:none;
}

.error-message {
	margin: 8px 0;
	color: red;
}

#start-page form {
	margin: 20px 0;
	text-align: left;
}

#start-page label {
	text-transform: uppercase;
	font-size: 10px;
	color:white;
}

#start-page input {
	padding: 10px;
	width: 300px;
	margin: 15px 0;
}

#start-page button {
	padding: 10px;
	border: none;
}

#start-page button:hover {
	background: #eee;
}

#team {
	display: none;
}

#team-container {
	display: flex;
/*	grid-template-columns: auto auto;*/
}

#create-team {
	/*display: none;*/
}

#pop-up {
	width: 600px;
	height: 400px;
	z-index: 50;
	position: absolute;
	top: 100px;
	left: 100px;
	background: white;
	display: none;
	box-shadow: 1px 1px 12px #ccc;
	padding: 25px;
	overflow: scroll;
}

#pop-up-inner {
	display: grid;
}

#pop-up-close {
	position: absolute;
	top: 10px;
	right: 10px;
}

#pop-up-close a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}

.round {
	padding: 10px;
	border-bottom: 1px solid #eee;
}

.game-space {
	width: 800px;
}

.game-space button {
	padding: 10px;
	background: black;
	color: white;
}

.center {
	left: 250px;
	top: 200px;
	font-size: 24px;
	text-align:center;
	position: fixed;
	width: 300px;
}

.player-4, .player-2, .player-3 {
	padding: 10px;
	width: 150px;
	text-align:center;
	position: fixed;
}

.player-3 {
	top: 50px;
	left: 325px;
}

.player-4 {
	top: 200px;
	left: 50px;
}

.player-2 {
	top: 200px;
	left: 600px;
}

.play {
	position: fixed;
	top: 400px;
	left: 150px;
	width: 500px;
}

.play-hand {
	width: 250px;
	margin: 0 auto;
	text-align: center;
}

.play-hand-cards {
	text-align: left;
	display: grid;
	grid-template-columns: repeat(5, 20px);
}

#view-plays {
	float: right;
}

.my-player {
	position: fixed;
	bottom: 50px;
	left: 0px;
	width: 800px;
	text-align: center;
}

#my-player-side {
	position: absolute;
	right: 50px;
	bottom: 50px;
}

#message {
	padding: 10px;
}

.hand-cards {
	text-align: left;
	width: 250px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(13, 20px);
}

#hand-submit {
/*	padding: 10px;
	background: black;
	color: white;*/
	margin-top: 15px;
}

.card-container {
	width: 60px;
	height: 80px;
	background: white;
	border: 1px solid black;
	padding: 5px;
	position: relative;
}

.card-checkbox {
	opacity: 0;
}

.card-checkbox + .card-container {
  cursor: pointer;
}

.card-checkbox:checked + .card-container {
  background: #cff0ff;
}

.card-nunber {
	margin-left: 3px;
	width: 25px;
    word-wrap: break-word;
}

.joker {
	text-align: center;
	font-size: 11px;
	position: absolute;
	left: 5px;
}

.card-suit {
	width: 10px;
	margin-top: 3px;
}

.red {
	color: red;
}

.legend {
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
}