@font-face {
    font-family: 'Montserrat Light';
    src: url(fonts/montserrat-light.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/montserrat-regular.ttf) format('truetype');
}

$header-font: 'Montserrat', sans-serif;
$default-font: 'Montserrat Light', sans-serif;
$green: #0b8b63;
$red: #e9764f;
$yellow: #ffc857;
$game-background-color: #efdecd;
$small-column: 33%;
$large-column: 33%;
$purple: #423643;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    //height: 100vh;
}

#root > div {
    width: 100%;
    //height: 100vh;
}

.App {
    width: 100%;
    height: 100%;
    background: $purple;

    &> div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

body {
    font: 13px $default-font;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: $header-font;
}

h2 {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
    font-family: $header-font;
}

h3 {
    font-family: $header-font;
}

h4 {
    font-size: 14px;
    font-weight: 100;
    font-family: $header-font;
}

a {
    color: $yellow;
    &:visited {
        color: $green;
    }
    &:hover {
        color: $red;
    }
}

button {
    font-family: $header-font;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    } 
}

table {
    border-collapse: collapse;
    margin-bottom: 15px;
}

th {
    padding: 3px 10px;
    text-align: left;
    background: $purple;
    color: white;
}

td {
    padding: 3px 10px;
    border: 1px solid $purple;
}

input[type="text"],
input[type="number"],
input,
select:focus {
  font-size: 16px !important;
}

.start-page {
    background: $purple;
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;

    #start-code {
        padding: 0.5em;
        margin: 0.5em;
        border: 1px solid white;
        width: fit-content;
    }

    h1 {
        font-size: 2.5em;
    }
    
    button, input[type=submit] {
        margin: 10px 0;
        padding: 10px;
        background: $red;
        transition: 0.2s linear;
        width: 100%;
        border: none;
        font-family: $header-font;
        border-radius: 20px;
        color: white;

        &:hover {
            background: #222;
        }
    }
    form {
        margin: 10px 0 20px;
        text-align: left;
    }
    label {
        text-transform: uppercase;
        font-size: 10px;
        color: white;
        margin-bottom: -5px;
        font-family: $header-font;
    }
    input[type=text], input[type=password] {
        padding: 10px;
        width: 300px;
        margin: 15px 0;
    }
}

#game-settings {
    z-index: 49;
    
    h1 {
        margin-bottom: 15px;
    }

    h2 {
        text-transform: none;
        font-size: 1.5em;
        margin: 0.5em 0;
    }
}

#restart-game {
    display: none;
}

%startscreen-shared {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game-start {
    justify-content: center;
    align-items: center;
    @extend %startscreen-shared;

    h1 {margin-bottom: 0.5em;}
}

.create-game, .join-game {
    background: $game-background-color;
    margin: 1em 0;
    padding: 2em 1.5em;
    width: 100%;
    color: black;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    h2 {
        font-size: 1.8em;
    }

    button {
        width: auto;
        padding: 10px 1em;
    }

    #edit-settings {
        width: 100%;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        label {
            text-transform: uppercase;
            font-size: 10px;
            font-family: $header-font;
            color: black;
            width: 100%;
            margin: 0.5em 0;
        }

        input {
            width: 100%;
            background: #fff;
            border:none;
            padding: 0.7em 15px;
            margin: 0.5em 0;
        }

        select {
            font-family: $header-font;
            width: 100%;
            font-size: 1.1em;
            appearance: none;
            padding: 0.7em 10px;
            border-radius: 0;
            border: none;
            background: linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
        }

        div.select {
            padding: 0px 5px;
            background: #fff;
            width: 100%;
            margin: 0 auto;
            margin: 0.5em 0;
        }

        button {
            width: 100%;
        }
    }

    p {
        font-size: 1em;
        text-align: center;
    }

    a {
        text-decoration: none;
    }
}

#instructions-btn {
    text-transform: uppercase;
    //margin-top: 0;
}

#login {
    @extend %startscreen-shared;
}

#registration {
    @extend %startscreen-shared;
    // display: none;
}

#login-error {
    text-align: center;
}

.error-message {
    margin: 8px 0;
    color: $red;
}

#team {
    @extend %startscreen-shared;
    
}

#game-settings-player {
    @extend %startscreen-shared;
}

#team-container {
    display: flex;
    width: 100%;

    #team-error {
        text-align: center;
    }
    
    #declarers, #opponents {
        width: 50%;
        background: $yellow;
        color: black;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        transition: 0.1s linear;
        cursor: pointer;
        
        &:hover {
            background: #fde5b3; 
        }

        h2 {
            // text-decoration: underline;
        }
        
        ul {
            list-style-type: none;
            width: 100%;
        }
        
        li {
            text-align: center;
            padding: 3px 0;
            font-size: 11px;
        }

        p {
            font-size: 11px;
        }
    }
}

#chat-page {
    display: flex;
    width: 1100px;
    height: 700px;
    align-items: stretch;
    background: $game-background-color;
    border: 1px solid white;
}

.sidebar {
    background: white;
    height: 100%;
    position: relative;
    width: 120px;
}

.legend {
    padding: 5px 10px;
    background: white;
    display: flex;
    flex-direction: column;
    height: auto;
    div {
        padding: 15px 0px;
        text-align: center;
        border-top: 1px solid #eee;
    }
    div:nth-of-type(1) {
        border-top: none;
        margin-top: 0;
    }
    img {
        width: 10px;
    }
}

#my-player-stats {
    position: absolute;
    bottom: 0;
    padding: 50px 10px;
}

%pop-up-shared {
    z-index: 50;
    position: absolute;
    margin: 50px auto;
    background: white;
    //display: none;
    box-shadow: 2px 2px 0px #999;
    padding: 40px;
    overflow: scroll;
}

#pop-up {
    @extend %pop-up-shared;
    width: 700px;
    height: 500px;
    top: 60px;
    animation: slide-down 0.5s forwards;
}

#pop-up-inner {
    display: grid;
    
    .card-container {
        border: 1px solid #ddd;
        margin-left: 0;
    }
    
    div {
        padding-bottom: 25px;
    }

    h3 {
        font-weight: 100;
        margin: 15px 0;
    }

    tr td:first-child {
        background-color: #e6e2e1;
    }
}

#instructions {
    position: absolute;
    background: $game-background-color;
    z-index: 50;
    overflow-y: scroll;
    padding: 6em 8em;
    width: 1100px;
    height: 700px;
    //top: 50px;

    h1 {
        text-align: center;
        font-size: 24px;
    }

    h3 {
        margin: 5px 0;
    }

    p {
        line-height: 1.5em;
        margin-bottom: 15px;
    }

    table td {
        background: white;
    }

    .card-container {
        border: 1px solid #ddd;
        margin-left: 0;
    }
}

#code-box {
    padding: 0.3em;
    margin-bottom: 0.5em;
    font-size: 0.7em;
    font-family: $default-font;
    width: 7em;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgb(84, 84, 84);
    box-shadow: none;
    text-align: center;
}

#discard {
    z-index: 50;
    position: absolute;
    margin: 50px auto;
    background: white;
    box-shadow: 2px 2px 0px #999;
    padding: 40px;
    width: 500px;
    height: 220px;
    top: 200px;
    text-align: center;

    #discard-cards {
        margin: 15px 0;

        .card-container {
            border: 1px solid #ddd;
            margin-left: 10px;
            text-align: left;
        }

        .card-container.winning {
            background: #c9d0bb;
            border: 1px solid $green;
        }
    }
}

%close-window-shared {
    position: absolute;
    top: 25px;
    right: 25px;
    
    a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-family: $default-font;
    }
}

#pop-up-close {
    @extend %close-window-shared;
}

#instructions-close {
    @extend %close-window-shared;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 40;
    background: white;
    opacity: 0.5;
    display: none;
}

#chat-icon {
    display: none;
}

#chat {
    width: 220px;
    height: 100%;
    position: relative;
    background: #e6e2e1;
    display: flex;
    flex-direction: column;

    #current-users {
        background: #fefbf9;
        border-bottom: 1px solid $purple;
    }
    
    #all-users {
        display: flex;
        
        div {
            text-align: center;
            width: 50%;
        }
        
        div:nth-of-type(1) {
            background: #fefbf9;
        }
        
        div:nth-of-type(2n) {
            background: #e6e2e1;
        }
        
        h2 {
            background: $purple;
            color: white;
            padding: 5px 0;
        }
        
        li {
            padding: 2px 0 5px;
            list-style-type: none;
        }
        
    }
}

#chat-container {
    height: 80%;
    width: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction:column;
}

#chatbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    input {
        flex: 3;
        border: none;
        padding: 10px;
        width: 80%;
        margin: 0;
        background: #ffffff;
    }
    
    button {
        flex: 1;
        width: 20%;
        background: $purple;
        color: white;
        border: none;
        padding: 10px;
        margin-left: -4px;
    }
}

#messages-container {
    height: 80%;
    overflow-y: scroll;
    flex-grow: 2;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    li {
        padding: 5px 20px;
    }
}

%chat-message-shared {
    font-size: 10px;
}

.connection-msg {
    @extend %chat-message-shared;
    color: white;
    background: $green !important;
}

.hand-msg {
    @extend %chat-message-shared;
    color: #333;
}

.disconnection-msg {
    @extend %chat-message-shared;
    color: white;
    background: $red !important;
}

.chat-msg {
    &:nth-of-type(2n + 1) {
        background: #fefbf9;
    }
    
    &:nth-of-type(2n) {
        background: #e6e2e1;
    }
}

.game-space {
    width: 760px;
    height: 100%;
    background: $game-background-color;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    justify-content: space-around;
    
    button {
        padding: 10px 15px;
        background: $purple;
        color: white;
        border-radius: 25px;
        border: none;
        transition: 0.2s linear;

        &:hover {
            background: #e9764f;
            color: $purple;
        }
    }
}

#header {
    text-align: center;
    width: 100%;
    padding: 30px 0 10px;
    flex-shrink: 1;
    
    p {
        font-size: 20px;
    }
}

.center-msg {
    //height: 20px;

    p {
        font-family: $header-font;
        margin: 0;
        line-height: 20px;
        margin-block-end: 0;
    }
}

.center {
    left: 250px;
    top: 200px;
    font-size: 24px;
    text-align: center;
    width: $large-column;
    padding: 5px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#view-plays {
    display: none;
}

%player-shared {
    padding: 10px;
    height: 110px;
    text-align: center;
    position: relative;
}

.player-3, .player-1 {
    @extend %player-shared;
    width: 100%;
}

.player-4 {
    @extend %player-shared;
    width: $small-column;
}

.player-2 {
    @extend %player-shared;
    width: $small-column;
}

.space-1 {
    width: $small-column;
}

#player-4-cards, #player-2-cards, #player-3-cards, #player-1-cards, .play-hand {
    text-align: center;
    margin: 0 auto;
    height: 80px;
    
    .card-container {
        margin-left: 0 !important;
        position: absolute;
        transform: translateX(-50%);
        transition: background 0.5s linear;

        p {
            font-size: 11px;
            width: 11px;
        }
    }

    .card-container.winning {
        background: #c9d0bb;
        border: 1px solid $green;
    }
}

.play {
    width: 100%;
}

.play-hand {
    margin: 0 auto;
    height: 100px;
    text-align: center;
    width: 100%;
    padding: 0 3em;

    h2 {
        display: none;
    }

    #history-message {
        opacity: 0;
        transition: opacity 0.1s;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .card-container {
        transition: left 0.3s linear;
        cursor: pointer;
    }

    .play-hand-cards {
        margin: 0 auto;
        min-width: 60px;
        min-height: 80px;
        cursor: pointer;
        position: relative;

        &:hover #history-message {
            opacity: 0.5;
        }
    }
}

.my-player {
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 30px;
}

#message {
    padding: 10px;
    color: $green;
    margin-bottom: 20px;
}

.hand {
    padding: 0 3em;
}

.hand-form {
    width: 100%;
}

.hand-cards {
    text-align: center;
    //overflow: hidden;
    //margin-right: -70px;
    position: relative;
    height: 110px;
    width: 100%;
    margin: 0 auto;

    &> div {
        position: absolute;
    }
    
    .card-container {
        width: 100%;
        height: 100%;
        position: absolute;
        margin: 0;
        left: 0;
        top: 0;
        border: none;
        //padding-left: 10px;
        //margin: 0px 0px -0px -60px;
    }

    label {
        position: absolute;
        width: 80px;
        height: 107px;
        border-radius: 10px;
        overflow: hidden;
        border: 2px solid $game-background-color;
        transition: left 0.5s;
        cursor: pointer;
    }
}

#hand-submit {
    //display: none;
    margin-top: 15px;
}

.card-container {
    width: 60px;
    height: 80px;
    background: white;
    border: 2px solid $game-background-color;
    padding: 5px;
    text-align: left;
    position: relative;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    margin-left: -55px;
}

.card-checkbox {
    opacity: 0;
}

.card-checkbox:checked + .card-container {
    background: $yellow;
}

.card-nunber {
    margin-left: 3px;
    width: 25px;
    word-wrap: break-word;
}

.joker {
    text-align: center;
    //font-size: 11px;
    position: absolute;
    left: 5px;
    width: 15px;
    word-wrap: break-word;
}

.card-suit {
    width: 10px;
    margin-top: 3px;
}

.chat-opening {
    animation: grow 0.3s ease-out forwards;
}

.chat-closing {
    animation: shrink 0.3s ease-out forwards;
}

.green {
    color: $green;
}

.red {
    color: $red;
}

.yellow {
    color: $yellow;
}

.winner {
    background-color: $yellow;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes grow {
    0% {
        transform: scale(0.01);
        opacity: 0;
    }
    1% {opacity: 1}
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes shrink {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    99% {opacity: 1}
    100% {
        transform: scale(0.01);
        opacity: 0;
    }
}

@media (orientation: portrait) {
    #chat-page {
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
    }
    .sidebar {
        width: 100%;
        max-height: 80px;
    }
    .legend {
        flex-direction: row;
        
        div {
            border-top: none;
            padding: 10px 15px;
            text-align: center;
            border-left: 1px solid #eee;
        }
        
        div:nth-of-type(1) {
            border-left:none;
        }
    }

    #my-player-stats {
        right: 0;
        padding: 10px 20px;
        text-align: right;
    }

    #header {
        padding: 20px;
    }
    .game-space {
        width: 100%;
        min-width: 300px;
        flex-grow: 2;
    }
    #chat-icon {
        display: block;
        position: absolute;
        width: 40px;
        top: 1em;
        right: 1em;
        z-index: 30;
        cursor: pointer;

        img {width: 100%}
    }
    #chat-notif {
        width: 10px;
        height: 10px;
        background: $red;
        border-radius: 50%;
        position: absolute;
        right: -3px;
        top: -3px;
        animation: grow 0.1s ease-out forwards;
    }
    #chat {
        width: 95%;
        max-width: 500px;
        max-height: 600px;
        position: absolute;
        right: 2.5%;
        height: 84%;
        top: 2%;
        border: 1px solid $purple;
        transform-origin: top right;
        transform: scale(0.01);
        
        #current-users {
            width: 100%;
        }
        
        #all-users {
            width: 100%;
            
            div {
                width: 100%;
            }
        }
    }
    #chat-container {
        flex-grow: 2;
        width: 100%;
        height: 165px;
    }
    #messages-container {
        height: 150px;
        overflow:scroll;
    }
    .hand-cards {
        height: 80px;
        label {
            width: 60px;
            height: 80px;
            border-radius: 5px;

            .card-container {
                padding: 3px 5px;
            }

            .card-number {
                font-size: 12px;
            }
        }
    }
    .my-player {
        margin-bottom: 10px;
    }
    #pop-up, #instructions {
        width: 100%;
        height: 100%;
        top:0;
        right: 0;
    }

    .center {
        #edit-settings {
            input {
                width: 100%;
            }
            div.select {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #instructions {
        padding: 2em;
        background: white;
    }

    .sidebar {
        display: flex;
        flex-direction: row;
    }

    .legend {
        width: 80%;
        div {
            padding: 5px;
            width: 25%;
        }
    }

    #my-player-stats {
        padding: 15px 10px;
        width: 20%;
        height: 100%;
        position: relative;

        #my-username {
            width: 100%;
        }
    }

    #player-4-cards, #player-2-cards, #player-3-cards, #player-1-cards, .play-hand {
        .card-container {
            width: 50px;
            height: 70px;
        }

        height: 70px;
    }

    .hand {
        padding: 0 10px;
    }

    #discard {
        width: 100%;
        #discard-cards {
            .card-container {
                margin-left: 5px;
            }
        }
    }
}


/*# sourceMappingURL=style.css.map */